WordServiceGui/Connected Services/WordService/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:53124/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:53124/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:53124/Service1.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_WordFilter_InputMessage">
    <wsdl:part name="parameters" element="tns:WordFilter" />
  </wsdl:message>
  <wsdl:message name="IService1_WordFilter_OutputMessage">
    <wsdl:part name="parameters" element="tns:WordFilterResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Top10Words_InputMessage">
    <wsdl:part name="parameters" element="tns:Top10Words" />
  </wsdl:message>
  <wsdl:message name="IService1_Top10Words_OutputMessage">
    <wsdl:part name="parameters" element="tns:Top10WordsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Hypernym_InputMessage">
    <wsdl:part name="parameters" element="tns:Hypernym" />
  </wsdl:message>
  <wsdl:message name="IService1_Hypernym_OutputMessage">
    <wsdl:part name="parameters" element="tns:HypernymResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Distance_InputMessage">
    <wsdl:part name="parameters" element="tns:Distance" />
  </wsdl:message>
  <wsdl:message name="IService1_Distance_OutputMessage">
    <wsdl:part name="parameters" element="tns:DistanceResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="WordFilter">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/WordFilter" message="tns:IService1_WordFilter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/WordFilterResponse" message="tns:IService1_WordFilter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Top10Words">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Top10Words" message="tns:IService1_Top10Words_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/Top10WordsResponse" message="tns:IService1_Top10Words_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Hypernym">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Hypernym" message="tns:IService1_Hypernym_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/HypernymResponse" message="tns:IService1_Hypernym_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Distance">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Distance" message="tns:IService1_Distance_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DistanceResponse" message="tns:IService1_Distance_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="WordFilter">
      <soap:operation soapAction="http://tempuri.org/IService1/WordFilter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Top10Words">
      <soap:operation soapAction="http://tempuri.org/IService1/Top10Words" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Hypernym">
      <soap:operation soapAction="http://tempuri.org/IService1/Hypernym" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Distance">
      <soap:operation soapAction="http://tempuri.org/IService1/Distance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:53124/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>